extends layout
block content
  h1= title

  if (toShow == null)
    h2 No instance to Update
  else
    - let villageId = toShow._id
    - let village_Name = toShow.village_Name
    - let village_State = toShow.village_State
    - let village_Population = toShow.village_Population
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{villageId}
    - let actionid = "/resource/villages/" + villageId
    form(id='VillageForm', action= actionid, method="PUT")
      div.form-group
        label.villageAttr(for='village_Name') Village Name 
        input#village_Name(type='text' name='village_Name', value= village_Name )
      div.form-group
        label.villageAttr(for='village_State') Village State
        input#village_State(type='text' name='village_State', value= village_State )
      div.form-group
        label.villageAttr(for='village_Population') Village Population
        input#village_Population(type='number' name='village_Population', value= village_Population )
      input(class="btn btn-success m-2" type="submit")

    script.
      document.forms['VillageForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });